# Intro to dataframes

In [7]:
import pandas as pd

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=["A", "B", "C"], index=['x','y','z'])

In [8]:
df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [10]:
df.head(2) # head shows the top 5 lines or the number of lines you passed

   A  B  C
x  1  2  3
y  4  5  6

In [11]:
df.tail(1) # tail is the same as head, but from the bottom

   A  B  C
z  7  8  9

In [12]:
df.columns # returns the name of the columns

Index(['A', 'B', 'C'], dtype='object')

In [13]:
df.index # returns the name of the rows (index)

Index(['x', 'y', 'z'], dtype='object')

In [14]:
df.columns.tolist()
df.index.tolist() # tolist() gets the values into a list

['x', 'y', 'z']

In [15]:
df.info() # gives you info about your dataframe

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [16]:
df.describe() # returns a description of statistics of the data

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [17]:
df.nunique() # returns how many unique values are in each column

A    3
B    3
C    3
dtype: int64

In [18]:
df.shape # returns n * m or row * columns lenght

(3, 3)

In [19]:
df.size

9

---

# Loading in Dataframes in Files

In [20]:
coffee = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv')

In [21]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [ ]:
olympics_data = pd.read_excel('../data/test/olympics-data.xlsx') # using openpyxl

In [ ]:
results = pd.read_parquet('../data/test/results.parquet') # using pyarrow

In [22]:
bios = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/bios.csv')

In [ ]:
bios.to_excel('../data/test/bios.xlsx') # converting csv data into an excel file

In [ ]:
bios.to_parquet('../data/test/bios.parquet') # converting csv data into a parquet file

---

# Accessing Data with Pandas

In [ ]:
coffee.sample(10, random_state=1) # returns random selected data
# we can pass random_state so it do not change the data in every run

In [ ]:
coffee.loc[0:3, ["Day", "Units Sold"]] # coffee.loc[rows, cols]: coffee.loc[[1,2,3]], coffee.loc[0:3], coffee.loc[[1,2,3], ["Day", "Units Sold]]
# returns the specified rows and columns

In [ ]:
coffee.iloc[0:3, [0, 2]] # returns the specified rows and columns using indexes
# notice that the upper bound is not included in iloc, but it is in loc

In [ ]:
coffee.index = coffee.Day # sets the rows' names from numbers to days
# We could have written 'coffee["Day"] also

In [ ]:
coffee.head() # we could see that coffee.index is different now

In [ ]:
coffee.loc["Monday": "Wednesday", "Units Sold"] # now we can use the days strings to choose the rows

In [ ]:
coffee.iloc[0:2] # iloc keeps working the same way

In [ ]:
coffee.iloc[1, 2] = 10 # we can change one or multiple values ([1:3, 2]) like this

In [ ]:
coffee.head() # row index 1 (Monday) and col index 2 (Units Sold) is now 10

In [ ]:
coffee.at["Monday", "Units Sold"] # gets a specific value

In [ ]:
coffee.iat[0,0] # gets a specific value by index

In [ ]:
coffee.sort_values(["Units Sold", "Coffee Type"], ascending=[1, 1]) # sort values by units sold and then by coffee type if some values are the same
# ascending is optional to describe the behavior of the sorting by index for the first list

In [ ]:
for index, row in coffee.iterrows(): # we can iterate through coffee, but it loses some performance 
    print(index) # only use when it is necessary, otherwise use pandas built-in functions instead
    print(row)
    print("\n")

---

# Filtering Data

In [ ]:
bios.head()

In [ ]:
bios.tail()

In [ ]:
bios.info()

In [ ]:
bios.loc[bios['height_cm'] > 215, ['name', 'height_cm']] # we can use loc to filter data like this

In [ ]:
bios[bios['height_cm'] > 215][['name', 'height_cm']] # the same as the line before, but a short syntax version

In [ ]:
bios[(bios['height_cm'] > 215) & (bios['born_country'] == 'USA')] # the same as the line before, but a short syntax version

In [ ]:
bios[bios['name'].str.contains('keith', case=False)] # search name col in bios with name containing the name keith (case=False is to ignore capitalization)

In [ ]:
bios[bios['name'].str.contains('keith|patrick', case=False)] # we can use regex syntax too like 'keith|patrick'
# if we want to make regex not possible to use we can add 'regex=False' property

---

### Regular expressions to filter data

In [ ]:
bios[bios['name'].str.contains(r'^a.*a$', case=False, regex=True, na=False)] # Find names starting with 'a' and ending with 'a'

---

In [ ]:
bios[bios['born_country'].isin(['USA', 'FRA', 'GBR']) & bios['name'].str.startswith('Jessie')]

In [ ]:
bios.query('born_country == "USA" and born_city == "Seattle"')

---

# Adding / Removing Columns

In [ ]:
import numpy as np
coffee['new_price'] = np.where(coffee['Coffee Type'] == 'Espresso', 3.99, 5.99) # creates a new column and gives the value of 3.99 to the Espresso coffe type and 5.99 for the other ones

In [ ]:
coffee.drop("Monday") # it deletes the 'Monday' index rows temporarily

In [ ]:
coffee['price'] = 4.99

In [ ]:
coffee.drop(columns=['price']) # eliminates price column temporarily

In [ ]:
coffee.drop(columns=['price'], inplace=True) # eliminates price column permanently

In [ ]:
coffee = coffee.drop(columns=['price']) # this should work too

In [ ]:
coffee = coffee[['Day', 'Coffee Type', 'Units Sold', 'new_price']] # this should work too

In [ ]:
coffee['revenue'] = coffee['Units Sold'] * coffee['new_price'] # we can create a new column with the values of another columns

In [ ]:
coffee.rename(columns={'new_price': 'price'}) # this is temporary, if we want to make it permanently, we need to add 'inplace=True' or 'coffee = ...' just like we did with 'drop'

In [ ]:
bios_new = bios.copy()

In [ ]:
bios_new['first_name'] = bios_new['name'].str.split(' ').str[0]

In [ ]:
bios_new.query('first_name == "Jessy"')

In [ ]:
bios_new.info()

In [ ]:
bios_new['born_datetime'] = pd.to_datetime(bios_new['born_date'])

In [ ]:
bios_new.info()

In [ ]:
bios_new['born_year'] = bios_new['born_datetime'].dt.year

bios_new[['name', 'born_year']]

In [ ]:
bios_new.to_csv('../data/test/bios_new.csv', index=False)

In [ ]:
bios_new['height_category'] = bios_new['height_cm'].apply(lambda x: "Short" if x < 165 else ("Average" if x < 185 else "Tall"))

bios_new[['name', 'height_cm', 'height_category']]

In [23]:
def categorize_athlete(row):
    if row['height_cm'] < 175 or row['weight_kg'] <= 70:
        return 'Lightweight'
    elif row['height_cm'] < 185 or row['weight_kg'] <= 80:
        return 'Middleweight'
    else:
        return 'Heavyweight'

bios['Category'] = bios.apply(categorize_athlete, axis=1) # axis = 1 is rows and axios = 0 is cols

In [24]:
bios

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,Category
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,Heavyweight
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,Middleweight
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,Middleweight
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,Lightweight
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,Heavyweight
...,...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN,Lightweight
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN,Lightweight
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN,Lightweight
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18,Lightweight
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20,Heavyweight

---

# Merging & Concatenating Data