# Intro to dataframes

In [28]:
import pandas as pd

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=["A", "B", "C"], index=['x','y','z'])

In [29]:
df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [30]:
df.head(2) # head shows the top 5 lines or the number of lines you passed

   A  B  C
x  1  2  3
y  4  5  6

In [31]:
df.tail(1) # tail is the same as head, but from the bottom

   A  B  C
z  7  8  9

In [34]:
df.columns # returns the name of the columns

['A', 'B', 'C']

In [33]:
df.index # returns the name of the rows (index)

Index(['x', 'y', 'z'], dtype='object')

In [37]:
df.columns.tolist()
df.index.tolist() # tolist() gets the values into a list

['x', 'y', 'z']

In [38]:
df.info() # gives you info about your dataframe

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [39]:
df.describe() # returns a description of statistics of the data

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [40]:
df.nunique() # returns how many unique values are in each column

A    3
B    3
C    3
dtype: int64

In [41]:
df.shape # returns n * m or row * columns lenght

(3, 3)

In [42]:
df.size

9

# Loading in Dataframes in Files

In [52]:
coffee = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv')

In [53]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [66]:
olympics_data = pd.read_excel('../data/test/olympics-data.xlsx') # using openpyxl
results = pd.read_parquet('../data/test/results.parquet') # using pyarrow
bios = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/bios.csv')

In [69]:
bios.to_excel('../data/test/bios.xlsx') # converting csv data into an excel file

In [70]:
bios.to_parquet('../data/test/bios.parquet') # converting csv data into a parquet file